body {
    background-color: #303030;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

h2,
p {
    text-align: center;
    letter-spacing: 2px;
}

form {
    text-align: center;
    color: black;
}

input[type=text] {
    text-align: center;
    width: 300px;
    background-color: #efefef;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-top: 10px;
}

input[type=text]:focus {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
    -moz-box-shadow: 0px 0px 10px 5px rgba(204, 204, 204, 0.9);
    box-shadow: 0px 0px 10px 5px rgba(204, 204, 204, 0.9);
    border: 2px solid #a5cda5;
    background-color: #e9f3e9;
    color: #428c42;
}

input[type="button"] {
    width: 200px;
    background-color: #36b03c;
    font-size: 20px;
    color: white;
    padding: 15px 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
}

input[type=button]:hover {
    background-color: #37b93d;
}

input::-webkit-input-placeholder {
    color: #999;
}

input:focus::-webkit-input-placeholder {
    color: #428C42;
}


/* firefox <19 */

input:-moz-placeholder {
    color: #428C42;
}

input:focus:-moz-placeholder {
    color: #428C42;
}


/* firefox >19 */

input:-moz-placeholder {
    color: #999;
}

input:focus:-ms-input-placeholder {
    color: #428C42;
}

.footer {
    text-align: center;
    background-color: #333333;
    padding: 30px;
}

.header {
    padding: 15px;
    text-align: center;
    background: #222222;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    position: sticky;
}
